.addPhotoServerDialog{
    background: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.addServerDialogDiv{
    margin: 0;
}

.photoDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
