.settingsMainDiv{
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background: white;
    scale: 1;
    transition: .5s;
}

.settingsMainDiv.unShow{
    scale: 0;
}

.settingsLeftDiv{
    display: flex;
    justify-content: right;
    width: 30%;
    background: #2b2d31;
    padding-top: 110px;
}

.settingsRightDiv{
    display: flex;
    width: 70%;
    background: #313338;
}

.settingsList{
    display: table-row;
}

.settingsName{
    padding: 6px 10px;
    margin: 3px 8px 0 0;
    color: #a8acb3;
    text-align: left;
    width: 192px;
    height: 32px;
    border-radius: 4px;
    transition: .3s;
}

.settingsName.active{
    background: #404249;
}

.settingsName:hover{
    background: rgb(54, 55, 61);
}