.separatorServerFrame{
    display: flex;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    width: 32px;
    height: 1px;
    background: rgb(53, 54, 60);
    border-radius: 15%;
}