
.button {
    margin-top: 20px;
    padding:  10px 25px;
    background: none;
    color: #00dfc4;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    border: 1px solid #353850;
    border-radius: 10px;
    transition: 0.2s;
}

.button:hover {
    color: #2b2d42;
    border: 1px solid #00dfc4;
    background-color: #00dfc4;
    box-shadow: 0 0 2px #00dfc4, 0 0 2px #00dfc4, 0 0 15px #00dfc4;
    transition: 0.2s;
}

.button:active {
    color: #2b2d42;
    border: 1px solid #094842;
    background-color: #094842;
    box-shadow: none;
}

