.alertBox{
    animation: alerts ease-out 1.5s;
    width: 100%;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.alert{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 250px;
    padding: 15px 30px;
    background: linear-gradient(45deg, rgb(40, 24, 24) 0%,
    rgb(40, 30, 40) 46%,
    #181e28 100%);
    color: white;
    border-radius: 5px;
    box-shadow: red 0 4px;
}

@keyframes alerts {
    from {margin-top: -200px}
    to {margin-top: 50px}
}

@keyframes alertsOff {
    from {margin-top: 50px}
    to {margin-top: -200px}
}

.alert2{
    animation: alertsOff ease-out 1.5s;
    margin-top: -200px
}